apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
address: 0.0.0.0                                       # Слушать на всех интерфейсах
port: 10250                                            # Порт Kublet
authentication:
  anonymous:
    enabled: false                                     # Отключить анонимный доступ
  webhook:
    enabled: true                                      # Включить webhook-аутентификацию
  x509:
    clientCAFile: "{{ cert_dir }}/{{ ca_cert_file }}"  # CA для проверки клиентов
authorization:
  mode: Webhook                                        # Использовать webhook для авторизации
clusterDomain: "cluster.local"
clusterDNS:
  - "10.32.0.10"
cgroupDriver: systemd
containerRuntimeEndpoint: "unix:///var/run/containerd/containerd.sock"
podCIDR: "{{ hostvars[inventory_hostname]['pod_subnet'] }}"
resolvConf: "{{ resolv_conf }}"
runtimeRequestTimeout: "15m"
tlsCertFile: "{{ cert_dir }}/{{ kubelet_cert_file }}"
tlsPrivateKeyFile: "{{ cert_dir }}/{{ kubelet_key_file }}"
noProxy:
  - "localhost"
  - "127.0.0.1"
  - ".svc"
  - ".cluster.local"
  - "10.0.0.0/8"
  - "172.16.0.0/12"
  - "192.168.0.0/16"

# Eviction policies
evictionHard:
  imagefs.available: "15%"
  memory.available: "100Mi"
  nodefs.available: "10%"
  nodefs.inodesFree: "5%"
evictionSoft:
  imagefs.available: "20%"
  memory.available: "200Mi"
  nodefs.available: "15%"
  nodefs.inodesFree: "10%"
evictionSoftGracePeriod:
  imagefs.available: "2m"
  memory.available: "2m"
  nodefs.available: "2m"
  nodefs.inodesFree: "2m"
evictionPressureTransitionPeriod: 30s
evictionMaxPodGracePeriod: 60

# Image garbage collection
imageGCHighThresholdPercent: 85
imageGCLowThresholdPercent: 80
imageMinimumGCAge: 2m0s

# System reservations
systemReserved:
  cpu: "100m"
  memory: "256Mi"
kubeReserved:
  cpu: "100m"
  memory: "512Mi"
enforceNodeAllocatable:
  - "pods"

# Other settings
maxPods: 250
failSwapOn: true
containerLogMaxSize: "10Mi"
containerLogMaxFiles: 5
featureGates:
  RotateKubeletServerCertificate: true
