apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ cert_dir }}/{{ ca_cert_file }}
    server: https://{{ vip }}:6443
  name: k8s
contexts:
- context:
    cluster: k8s
    user: system:node:{{ inventory_hostname }}
  name: default
current-context: default
users:
- name: system:node:{{ inventory_hostname }}
  user:
    client-certificate: {{ cert_dir }}/{{ kubelet_cert_file }}
    client-key: {{ cert_dir }}/{{ kubelet_key_file }}
