[Unit]
Description=HAProxy Load Balancer
After=network-online.target

[Service]
ExecStart={{ haproxy_binary_dir }}/haproxy -f {{ haproxy_config_dir }}/haproxy.cfg
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
Restart=on-failure
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
