global
    pidfile /var/run/haproxy.pid
    log /dev/log local0
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend kubernetes_api_frontend
    bind *:6443
    mode tcp
    default_backend kubernetes_api_backend

backend kubernetes_api_backend
    mode tcp
    balance roundrobin
{% for host in groups['master'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:6443 check
{% endfor %}

listen stats
    bind *:8080
    mode http
    stats enable
    stats uri /haproxy?stats
    stats realm Haproxy\ Statistics
    stats auth admin:qwerty
    stats admin if TRUE
