global
    pidfile /var/run/haproxy.pid
    log stdout format raw local0 info
    maxconn 50000
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend kubernetes_api_frontend
    bind *:6443
    mode tcp
    default_backend kubernetes_api_backend

backend kubernetes_api_backend
    mode tcp
    option tcp-check
    balance roundrobin
{% for host in groups['master'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:6443 check
{% endfor %}

listen stats
    bind *:8080
    mode http
    stats enable
    stats uri /haproxy?stats
    stats realm Haproxy\ Statistics
    stats auth admin:qwerty
    stats admin if TRUE
