[Unit]
Description=Keepalive Daemon (LVS and VRRP)
After=network.target
Documentation=man:keepalived(8)

[Service]
Type=simple
PIDFile=/run/keepalived.pid
ExecStart={{ keepalived_binary_dir }}/keepalived --dont-fork --log-console 
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
