[Unit]
Description=etcd
Documentation=https://github.com/etcd-io/etcd
After=network.target

[Service]
Type=notify
ExecStart={{ etcd_binary_dir }}/etcd \
  --name={{ inventory_hostname }} \
  --data-dir={{ etcd_data_dir }} \
  --initial-cluster={{ etcd_cluster_list }} \
  --initial-cluster-token=etcd-cluster \
  --initial-cluster-state={% if is_initial_run %}new{% else %}existing{% endif %} \
  --client-cert-auth=true \
  --trusted-ca-file={{ cert_dir }}/{{ ca_cert_file }} \
  --cert-file={{ cert_dir }}/etcd/server.crt \
  --key-file={{ cert_dir }}/etcd/server.key \
  --peer-client-cert-auth=true \
  --peer-trusted-ca-file={{ cert_dir }}/{{ ca_cert_file }} \
  --peer-cert-file={{ cert_dir }}/etcd/peer.crt \
  --peer-key-file={{ cert_dir }}/etcd/peer.key \
  --listen-client-urls=https://0.0.0.0:{{ etcd_client_port }} \
  --advertise-client-urls=https://{{ ansible_host }}:{{ etcd_client_port }} \
  --listen-peer-urls=https://0.0.0.0:{{ etcd_peer_port }} \
  --initial-advertise-peer-urls=https://{{ ansible_host }}:{{ etcd_peer_port }} \
  --heartbeat-interval=100 \
  --election-timeout=1000 \
  --snapshot-count=10000 \
  --auto-compaction-retention=1

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
