[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
After=etcd.service

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --apiserver-count=3 \
  # Настройки безопасности \
  --allow-privileged=true \
  --tls-cert-file="{{ cert_dir }}/kube-apiserver.crt" \
  --tls-private-key-file="{{ cert_dir }}/kube-apiserver.key" \
  --client-ca-file="{{ cert_dir }}/ca.crt" \
  --service-account-key-file="{{ cert_dir }}/service-account.crt" \
  --service-account-signing-key-file="{{ cert_dir }}/service-account.key" \
  --service-account-issuer="https://server.kubernetes.local:6443" \
  --service-cluster-ip-range=10.32.0.0/24 \
  --service-node-port-range=30000-32767 \
  --requestheader-allowed-names=aggregator \
  --requestheader-client-ca-file="{{ cert_dir }}/ca.crt" \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --kubelet-certificate-authority="{{ cert_dir }}/ca.crt" \
  --kubelet-client-certificate="{{ cert_dir }}/kube-apiserver.crt" \
  --kubelet-client-key="{{ cert_dir }}/kube-apiserver.key" \
  # Настройка API \
  --api-audiences="https://kubernetes.default.svc,kubernetes.default.svc" \
  --authorization-mode=Node,RBAC \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,ServiceAccount,TaintNodesByCondition,Priority,DefaultTolerationSeconds,DefaultStorageClass,StorageObjectInUseProtection,PersistentVolumeClaimResize,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota \
  --runtime-config="api/all=true" \
  # Сетевые настройки \
  --bind-address=0.0.0.0 \
  --secure-port=6443 \
  --advertise-address="{{ ansible_host }}" \
  --service-cluster-ip-range=10.32.0.0/24 \
  --service-node-port-range=30000-32767 \
  --event-ttl="1h" \
  # Настройки aggregator \
  --enable-aggregator-routing=true \
  --proxy-client-cert-file="{{ cert_dir }}/proxy-client.crt" \
  --proxy-client-key-file="{{ cert_dir }}/proxy-client.key" \
  # Настройки etcd \
  --etcd-cafile="{{ cert_dir }}/ca.crt" \
  --etcd-certfile="{{ cert_dir }}/etcd/client.crt" \
  --etcd-keyfile="{{ cert_dir }}/etcd/client.key" \
  --etcd-servers=https://192.168.88.41:2379,https://192.168.88.42:2379,https://192.168.88.43:2379 \
  # Настройки логирования \
  --logging-format="json" \
  --log-flush-frequency="5s" \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
