[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=kube-apiserver.service

[Service]
ExecStart={{ kube_scheduler_binary_dir}}/kube-scheduler \
  --config={{ kube_scheduler_config_dir }}/kube-scheduler-config.yaml \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
