apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ cert_dir }}/{{ ca_cert_file }}
    server: https://{{ fqdn }}:6443
  name: k8s
contexts:
- context:
    cluster: k8s
    user: system:kube-scheduler
  name: default
current-context: default
users:
- name: system:kube-scheduler
  user:
    client-certificate: {{ cert_dir }}/{{ kube_scheduler_cert_file }}
    client-key: {{ cert_dir }}/{{ kube_scheduler_key_file }}
