[Unit]
Description=containerd container runtime
Documentation=https://containerd.io
After=network.target

[Service]
ExecStartPre=/sbin/modprobe overlay
ExecStart=/bin/containerd

# Настройка автоматического перезапуска
Restart=on-failure
RestartSec=10s
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
