[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
After=kube-apiserver.service
Requires=kube-apiserver.service

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cluster-cidr=10.200.0.0/16 \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{ cert_dir }}/{{ ca_cert_file }} \
  --cluster-signing-key-file={{ cert_dir }}/{{ ca_key_file }} \
  --kubeconfig={{ kube_controller_manager_kubeconfig_dir }}/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --root-ca-file={{ cert_dir }}/{{ ca_cert_file }} \
  --service-account-private-key-file={{ cert_dir }}/service-account.key \
  --service-cluster-ip-range=10.32.0.0/24 \
  --use-service-account-credentials=true \
  --tls-cert-file={{ cert_dir }}/kube-controller-manager.crt \
  --tls-private-key-file={{ cert_dir }}/kube-controller-manager.key \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target 
