[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
After=kube-scheduler.service

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cluster-cidr=10.200.0.0/16 \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{ kube_controller_manager_cert_dir }}/{{ ca_cert_file }} \
  --cluster-signing-key-file={{ kube_controller_manager_cert_dir }}/{{ ca_key_file }} \
  --kubeconfig={{ kube_controller_manager_kubeconf_dir }}/kube-controller-manager.kubeconfig \
  --root-ca-file={{ kube_controller_manager_cert_dir }}/{{ ca_cert_file }} \
  --service-account-private-key-file={{ kube_controller_manager_cert_dir }}/{{ service_account_cert_key_file }} \
  --service-cluster-ip-range=10.32.0.0/24 \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target 
